force-app/main/default/flows/Company_Journey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Company Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Company Journey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_K_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_K_Contact</name>
        <label>Get K-Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_KPC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Account_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Job_Title__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company_Website__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Account.Website</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>K_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_KPC</name>
        <label>Get KPC</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>New_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Account.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>New_Email_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>K_Processed_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Change_Status_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_Status_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContactJourneyDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;img src=&quot;https://kanlet-dev-ed.develop.file.force.com/sfc/servlet.shepherd/version/download/068bn000000YguT?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Conatct Journey Icon.png&quot;&gt;      Contact Journey&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Joined</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(45, 13, 255); font-size: 20px;&quot;&gt;{!Get_KPC.Contact_Status__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_KPC.Contact_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Joined</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Promoted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(56, 237, 15);&quot;&gt;{!Get_KPC.Contact_Status__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_KPC.Contact_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Promoted</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Left</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(231, 14, 14);&quot;&gt;{!Get_KPC.Contact_Status__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_KPC.Contact_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Left</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Change_Status_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_Status_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_Status_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_Status_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Previously</name>
                    <fieldText>&lt;p&gt;{!Previous}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_Status_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>companyInfo</name>
                    <fieldText>&lt;p&gt;{!previousInfo}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_Status_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_Status_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>switchIconDisplay</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;   &lt;img src=&quot;https://kanlet-dev-ed.develop.file.force.com/sfc/servlet.shepherd/version/download/068bn000000YUmr?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Move Image resize.jpg&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_Status_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_Status_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_Status_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NowDisplay</name>
                    <fieldText>&lt;p&gt;{!Now}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_Status_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NowInfoDisplay</name>
                    <fieldText>&lt;p&gt;{!NowInfo}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_Status_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_Status_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>ContactJourneyIcon</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;template&gt;
    &lt;lightning-icon icon-name=&quot;utility:error&quot; variant=&quot;error&quot;&gt; &lt;/lightning-icon&gt;
&lt;/template&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Icon</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;iconBlock&quot;&gt;
            &lt;lightning-icon icon-name=&quot;utility:switch&quot; size=&quot;large&quot;&gt;&lt;/lightning-icon&gt;
           
        &lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Now</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-box_xx-small slds-theme_shade slds-theme_alert-texture slds-p-vertical_xx-large&quot; style=&quot;background-color: lightgreen; border: 2px solid green;&quot;&gt;
  &lt;p class=&quot;slds-align_absolute-center&quot; style = &quot;font-weight: bold;font-size: 16px;&quot; &gt;NOW&lt;/p&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NowInfo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-box_xx-small slds-theme_shade slds-p-vertical_xx-large&quot; style=&quot;background-color: lightgreen; border: 2px solid green;&quot;&gt;
 &lt;p  style = &quot;font-weight: bold;font-size: 15px;&quot; &gt;{!Get_KPC.New_Designation__c} at {!Get_KPC.New_Company__c}&lt;/p&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Previous</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-box_xx-small slds-theme_shade slds-theme_alert-texture slds-p-vertical_xx-large&quot; style=&quot;background-color: #ffcccc; border: 2px solid red;&quot;&gt;
  &lt;p class=&quot;slds-align_absolute-center&quot; style = &quot;font-weight: bold;font-size: 16px;&quot; &gt;PREVIOUS&lt;/p&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>previousInfo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box slds-box_xx-small slds-theme_shade slds-p-vertical_xx-large&quot; style=&quot;background-color: #ffcccc; border: 2px solid red;&quot;&gt;
 &lt;p  style = &quot;font-weight: bold;font-size: 15px;&quot; &gt;{!Get_KPC.Job_Title__c} at {!Get_KPC.Company__c}&lt;/p&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
