force-app/main/default/flows/ICP_Count_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_kanlet_Lisceneses.ICP_Count__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ICP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Kanlet_Lisense</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ICP Count Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ICP Count Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ICP</name>
        <label>Get ICP</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Kanlet_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_kanlet_Lisceneses.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ICP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_kanlet_Lisceneses</name>
        <label>Get kanlet Lisceneses</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ICP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Kanlet_License__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Kanlet_License__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Kanlet_Lisense</name>
        <label>Update Kanlet Lisense</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputReference>Get_kanlet_Lisceneses</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_kanlet_Lisceneses</targetReference>
        </connector>
        <object>ICP__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
