force-app/main/default/flows/Kanlet_Admin_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>FrequencySet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency__c</picklistField>
        <picklistObject>Contact_Updates__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReqUpdatesCS</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Required_Updates__c</picklistField>
        <picklistObject>Contact_Updates__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Kanlet Admin Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Kanlet Admin Console</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Updates_Records</name>
        <label>Create Contact Updates Records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Daily_Limit__c</field>
            <value>
                <elementReference>Daily_Limit1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Joined__c</field>
            <value>
                <elementReference>Joined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Left__c</field>
            <value>
                <elementReference>Left</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promoted__c</field>
            <value>
                <elementReference>Promoted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Switched__c</field>
            <value>
                <elementReference>Switched</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Updates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Kalnet_Admin_Console</name>
        <label>Kalnet Admin Console</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact_Updates_Records</targetReference>
        </connector>
        <fields>
            <name>HeaderText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Below details will be used in the Contact sync. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Daily_Limit1</name>
            <dataType>Number</dataType>
            <fieldText>Daily Limit</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Frequency</name>
            <choiceReferences>FrequencySet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RequiredUpdates</name>
            <fieldText>&lt;p&gt;Required Updates&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Joined</name>
            <dataType>Boolean</dataType>
            <fieldText>Joined</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Left</name>
            <dataType>Boolean</dataType>
            <fieldText>Left</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Promoted</name>
            <dataType>Boolean</dataType>
            <fieldText>Promoted</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Switched</name>
            <dataType>Boolean</dataType>
            <fieldText>Switched</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Kalnet_Admin_Console</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
