force-app/main/default/flows/KPC_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Indirect_Fasle</name>
        <label>Assign Indirect Fasle</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Acc_Contact_Records.IsDirect</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Direct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Isdirect_False</name>
        <label>Assignment Isdirect False</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Acc_Contact_Records.IsDirect</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Direct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_Indirect_False</name>
        <label>Assignment Indirect False</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Acc_Contact_Records.IsDirect</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Direct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assignment_1</name>
        <label>Assignment Indirect Fasle</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Get_Acc_Contact_Records.IsDirect</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Direct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Action</name>
        <label>Check For Action</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_KPC.Recommended_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Create Contact</label>
        </rules>
        <rules>
            <name>Create_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_KPC.Recommended_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead</targetReference>
            </connector>
            <label>Create Lead</label>
        </rules>
        <rules>
            <name>Merge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_KPC.Recommended_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_to_Merge</targetReference>
            </connector>
            <label>Merge</label>
        </rules>
        <rules>
            <name>Promoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_KPC.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_K_Contact</targetReference>
            </connector>
            <label>Promoted</label>
        </rules>
        <rules>
            <name>Left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_KPC.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assignment_Indirect_False</targetReference>
            </connector>
            <label>Left</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>KPC Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KPC Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_for_Update</name>
        <label>Create Contact for Update</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>ContactsID</assignRecordIdToReference>
        <connector>
            <targetReference>Assignment_Isdirect_False</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_KPC.New_Email_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_KPC.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kanlet_Status__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_KPC.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Get_KPC.New_Designation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_to_Merge</name>
        <label>Create Contact to Merge</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>ContactIdMerge</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assignment_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>DuplicateAccounts.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_KPC.New_Email_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Status__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_KPC.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kanlet_Status__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_KPC.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Get_KPC.New_Designation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New  Lead</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>LeadID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Action_Taken_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_KPC.New_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_KPC.New_Email_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_KPC.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_KPC.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Kanlet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Get_KPC.New_Company_Website__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Acc_Contact_Records</name>
        <label>Get Acc Contact Records</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accountacc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_K_Contact2.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account to Update</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_for_Update</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KPC.New_Company__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KPC.New_Company_Website__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_to_Merge</name>
        <label>Get Account to Merge</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Accounts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KPC.New_Company__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KPC.New_Company_Website__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Accountacc</name>
        <label>Get Account</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consent_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Website</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KPC.Company_Website__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promote_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_K_Contact.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_K_Contact</name>
        <label>Get  K Contact</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KPC.K_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>K_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_K_Contact2</name>
        <label>Get K Contact</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Acc_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KPC.K_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>K_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_KPC</name>
        <label>Get KPC</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_K_Contact2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>K_Processed_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Direct</name>
        <label>Update Direct</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Contact_Id</targetReference>
        </connector>
        <inputReference>Get_Acc_Contact_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Contact_Id</name>
        <label>Update Contact Id</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Copy_1_of_CreateSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Taken_By__c</field>
            <value>
                <elementReference>OwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Taken__c</field>
            <value>
                <stringValue>Merge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>ContactIdMerge</elementReference>
            </value>
        </inputAssignments>
        <object>K_Processed_Contact__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Direct</name>
        <label>Update Direct</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Copy_1_of_UpdateSuccess</targetReference>
        </connector>
        <inputReference>Get_Acc_Contact_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Direct</name>
        <label>Update Direct</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <inputReference>Get_Acc_Contact_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Promote_Contact</name>
        <label>Promote Contact</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_KPC_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Get_KPC.New_Designation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Action_Taken</name>
        <label>Update Action Taken</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>UpdateSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Taken_By__c</field>
            <value>
                <elementReference>OwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Taken__c</field>
            <value>
                <stringValue>Create Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>ContactsID</elementReference>
            </value>
        </inputAssignments>
        <object>K_Processed_Contact__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Action_Taken_2</name>
        <label>Update Action Taken 2</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Indirect_Fasle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KPC.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Taken_By__c</field>
            <value>
                <elementReference>OwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Taken__c</field>
            <value>
                <stringValue>Create Lead</stringValue>
            </value>
        </inputAssignments>
        <object>K_Processed_Contact__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Direct</name>
        <label>Update Direct</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Update_Action_Taken</targetReference>
        </connector>
        <inputReference>Get_Acc_Contact_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KPC_Contact_Id</name>
        <label>Update KPC Contact Id</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>PromoteSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KPC.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Taken_By__c</field>
            <value>
                <elementReference>OwnerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_Taken__c</field>
            <value>
                <stringValue>Promoted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>K_Processed_Contact__c</object>
    </recordUpdates>
    <screens>
        <name>Consent_Screen</name>
        <label>Consent Screen</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_For_Action</targetReference>
        </connector>
        <fields>
            <name>Consent_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consent_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verification</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(41, 36, 183); font-family: verdana; font-size: 16px;&quot;&gt;Consent Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ConsentText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &amp;quot;Segoe UI&amp;quot;, Roboto, Ubuntu, Cantarell, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; color: rgb(13, 13, 13);&quot;&gt;Please check the details below before proceeding&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consent_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consent_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfirmScreen</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;First Name : &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_KPC.First_Name__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Consent_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 21, 21); font-size: 14px;&quot;&gt;Last Name :&lt;/strong&gt;&lt;span style=&quot;color: rgb(21, 21, 21); font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_KPC.Last_Name__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Consent_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consent_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompanyName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(14, 15, 14); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Previous Company :&lt;/strong&gt;&lt;span style=&quot;color: rgb(14, 15, 14); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_KPC.Company__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Consent_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewCompany</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(24, 24, 23); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;New Company : &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_KPC.New_Company__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Consent_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consent_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PreviousDesignation</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Previous Designation: &lt;/strong&gt;{!Get_KPC.Job_Title__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Consent_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewDesignatiion</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;New Designation:&lt;/strong&gt;{!Get_KPC.New_Designation__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Consent_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consent_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>contactStatus</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(24, 24, 24); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Change Status :&lt;/strong&gt;&lt;span style=&quot;color: rgb(24, 24, 24); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_KPC.Contact_Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Consent_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RecommendedAction</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(37, 37, 36);&quot;&gt;Action Performing :&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(72, 234, 13);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_KPC.Recommended_Action__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Consent_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consent_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastModifieddate</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Account Last Activity Date : &lt;/strong&gt;{!Get_Accountacc.LastModifiedDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Consent_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Consent_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consent_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_KPC.Agree_to_update__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_CreateSuccess</name>
        <label>MergeSuccess</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(76, 202, 30); font-size: 18px;&quot;&gt;Contact Created Successfully &lt;/strong&gt;&lt;strong style=&quot;color: rgb(76, 202, 30); font-size: 16px;&quot;&gt;🎉&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(32, 34, 32); font-size: 16px;&quot;&gt;Click the below link to view the contact details-&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(74, 14, 254);&quot;&gt;{!ClickContactMerge}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_UpdateSuccess</name>
        <label>CreateSuccess</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(76, 202, 30);&quot;&gt;Lead is Created Successfully&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(76, 202, 30);&quot;&gt; 🎉&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 40, 40);&quot;&gt;Click the below link to view the Lead details -&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(40, 40, 40);&quot;&gt;﻿&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(13, 32, 241);&quot;&gt;{!Clickhere}&lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(76, 202, 30);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PromoteSuccess</name>
        <label>PromoteSuccess</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PromotedSuccessScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(76, 202, 30);&quot;&gt;Contact Promoted Successfully &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(76, 202, 30);&quot;&gt;🎉&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(32, 34, 32); background-color: rgb(255, 255, 255);&quot;&gt;Click the below link to view the contact details-&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(38, 67, 231);&quot;&gt;{!PromoteContactId}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Accounts</name>
        <label>Select Accounts</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact_to_Merge</targetReference>
        </connector>
        <fields>
            <name>DuplicateAccounts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account_to_Merge</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6e57&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Website&quot;,&quot;guid&quot;:&quot;column-47fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Website&quot;,&quot;type&quot;:&quot;url&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdateSuccess</name>
        <label>UpdateSuccess</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(82, 215, 33); font-size: 18px;&quot;&gt;Contact Created Successfully&lt;/strong&gt;&lt;strong style=&quot;color: rgb(82, 215, 33); font-size: 16px;&quot;&gt; 🎉&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(15, 15, 15); font-size: 16px;&quot;&gt;Click the below link to view the contact details-&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(11, 66, 247);&quot;&gt;{!ClickContact}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_KPC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ClickContact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://kanlet-dev-ed.develop.lightning.force.com/lightning/r/Contact/{!ContactsID}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Click Contact&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ClickContactMerge</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://kanlet-dev-ed.develop.lightning.force.com/lightning/r/Contact/{!ContactIdMerge}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Visit Contact&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Clickhere</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://kanlet-dev-ed.develop.lightning.force.com/lightning/r/Lead/{!LeadID}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Click Lead&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ConsentTable</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table style=&quot;border-collapse: collapse; width: 100%;&quot;&gt;
  &lt;tr&gt;
    &lt;td style=&quot;border: 1px solid black;&quot;&gt;&lt;b&gt;First Name:&lt;/b&gt; {!Get_KPC.First_Name__c}&lt;/td&gt;
    &lt;td style=&quot;border: 1px solid black;&quot;&gt;&lt;b&gt;Last Name:&lt;/b&gt; {!Get_KPC.Last_Name__c}&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td style=&quot;border: 1px solid black;&quot;&gt;&lt;b&gt;Previous Company:&lt;/b&gt; {!Get_KPC.Company__c}&lt;/td&gt;
    &lt;td style=&quot;border: 1px solid black;&quot;&gt;&lt;b&gt;New Company:&lt;/b&gt; {!Get_KPC.New_Company__c}&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td style=&quot;border: 1px solid black;&quot;&gt;&lt;b&gt;Previous Designation:&lt;/b&gt; {!Get_KPC.Job_Title__c}&lt;/td&gt;
    &lt;td style=&quot;border: 1px solid black;&quot;&gt;&lt;b&gt;New Designation:&lt;/b&gt; {!Get_KPC.New_Designation__c}&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td style=&quot;border: 1px solid black;&quot;&gt;&lt;b&gt;Contact Status:&lt;/b&gt; {!Get_KPC.Job_Title__c}&lt;/td&gt;
    &lt;td style=&quot;border: 1px solid black;&quot;&gt;&lt;b&gt;Action Recommended:&lt;/b&gt; {!Get_KPC.Recommended_Action__c}&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Name2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_KPC.First_Name__c} {!Get_KPC.Last_Name__c}</text>
    </textTemplates>
    <textTemplates>
        <name>OwnerName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_KPC.Owner:User.FirstName} {!Get_KPC.Owner:User.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>PromoteContactId</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://kanlet-dev-ed.develop.lightning.force.com/lightning/r/Contact/{!Get_Contact.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Visit Contact&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accConRelSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>ContactIdMerge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
