force-app/main/default/flows/Select_Multiple_Contact_Data_Table.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Account_id</name>
        <label>Assign Account id</label>
        <locationX>292</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ConatctFromAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact_related_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountSelectedRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact_to_K_Contacts</name>
        <label>Assign contact to K Contacts</label>
        <locationX>644</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>KContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Conut</name>
        <label>Assign Conut</label>
        <locationX>776</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>Selectedrowscount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contact.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRelatedtoAccountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Conatcts.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalTrackRequestContact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Track_Request_Conatacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllContactrelatedtoAccount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContactCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>534</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>SyncContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SyncRequestContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_K_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Contacts_related_to_account</name>
        <label>Assign To Contacts related to account</label>
        <locationX>292</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>KContact.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConatctRelatedAccount.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConatctRelatedAccount.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConatctRelatedAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConatctRelatedAccount.Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConatctRelatedAccount.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConatctRelatedAccount.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Company_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConatctRelatedAccount.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_to_Contact_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_fields</name>
        <label>Assign to fields</label>
        <locationX>644</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>KContact.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Company_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_contact_to_K_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_to_Contact_Collection</name>
        <label>Assignment to Contact Collection</label>
        <locationX>292</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>ContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>KContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConatctRelatedAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_To_Contacts_related_to_account</name>
        <label>of Assign To Contacts related to account</label>
        <locationX>1348</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>KContact.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_6.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_6.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_6.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_6.Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_6.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KContact.Company_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_6.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assignment_to_Contact_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_to_Contact_Collection</name>
        <label>Assignment to Contact Collection</label>
        <locationX>1348</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>ContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>KContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sync_Request_Contact_Assign</name>
        <label>Sync Request Contact Assign</label>
        <locationX>534</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>SyncRequestContacts.K_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Multiple_K_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SyncRequestContacts.Track_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Track_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AccountChoice</name>
        <choiceText>Accounts</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AccountwithallContact</name>
        <choiceText>Accounts with all Contacts</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ContactChoice</name>
        <choiceText>Contacts</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_for_Count</name>
        <label>Check for Count</label>
        <locationX>446</locationX>
        <locationY>2738</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acccount_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRelatedtoAccountCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SuccessScreen</targetReference>
            </connector>
            <label>Acccount-Contact</label>
        </rules>
        <rules>
            <name>Contact_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selectedrowscount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Contact Count</label>
        </rules>
        <rules>
            <name>All_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllContactrelatedtoAccount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_SuccessScreen</targetReference>
            </connector>
            <label>All Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_selection</name>
        <label>Check for selection</label>
        <locationX>776</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Conut</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountButton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Screen</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Account_Contact1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountwithallContact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Account_Screen</targetReference>
            </connector>
            <label>Account+Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Limit</name>
        <label>Check Limit</label>
        <locationX>776</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_exceeds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalContatsAdded</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_K_Set_License.Contact_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalContactsRelatedAccount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_K_Set_License.Contact_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalAllContactOfAcc</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_K_Set_License.Contact_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_K_Contact</targetReference>
            </connector>
            <label>Limit exceeds</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalAllContactOfAcc</name>
        <dataType>Number</dataType>
        <expression>{!AllContactrelatedtoAccount} +{!TotalTrackRequestContact}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalContactsRelatedAccount</name>
        <dataType>Number</dataType>
        <expression>{!TotalTrackRequestContact} + {!ContactRelatedtoAccountCount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalContatsAdded</name>
        <dataType>Number</dataType>
        <expression>{!TotalTrackRequestContact} + {!Selectedrowscount}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Select Multiple Contact Data Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Contacts to Sync</label>
    <loops>
        <name>AccountSelectedRows</name>
        <label>AccountSelectedRows</label>
        <locationX>204</locationX>
        <locationY>890</locationY>
        <collectionReference>AllAccounts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_related_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ContactsRelatedScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ConatctRelatedAccount</name>
        <label>ConatctRelatedAccount</label>
        <locationX>204</locationX>
        <locationY>1406</locationY>
        <collectionReference>Conatcts.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_Contacts_related_to_account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Conut</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_1</name>
        <label>Account Rows</label>
        <locationX>1084</locationX>
        <locationY>890</locationY>
        <collectionReference>AllAccounts2.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contacts_related_to_Selected_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SelectedContactsFromAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>556</locationX>
        <locationY>998</locationY>
        <collectionReference>Contact.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Conut</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_6</name>
        <label>Loop 6</label>
        <locationX>1260</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Contacts_related_to_Selected_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_To_Contacts_related_to_account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Loop_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Multiple_K_Contacts</name>
        <label>Multiple K Contacts</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <collectionReference>ContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync_Request_Contact_Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Sync_Request_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_K_Contact</name>
        <label>Create K Contact</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Multiple_K_Contacts</targetReference>
        </connector>
        <inputReference>ContactCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Sync_Request_Contacts</name>
        <label>Create Sync Request Contacts</label>
        <locationX>446</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Check_for_Count</targetReference>
        </connector>
        <inputReference>SyncContactCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_K_Set_License</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>556</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Multiple_Contacts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_related_Accounts</name>
        <label>Get Contact related Accounts</label>
        <locationX>292</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountSelectedRows.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_related_to_Selected_Account</name>
        <label>Get Contacts related to Selected Account</label>
        <locationX>1260</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Loop_1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_K_Set_License</name>
        <label>Get K Set License</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Track_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Kanlet_License__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Track_Request</name>
        <label>Get Track Request</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Track_Request_Conatacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Track_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Track_Request_Conatacts</name>
        <label>Get Track Request Contacts</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Button_Sreeen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Track_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Track_Request.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Track_Request_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Screen</name>
        <label>Account Screen</label>
        <locationX>204</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AccountSelectedRows</targetReference>
        </connector>
        <fields>
            <name>AllAccounts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-90d3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Website&quot;,&quot;guid&quot;:&quot;column-1f5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Website&quot;,&quot;type&quot;:&quot;url&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Button_Sreeen</name>
        <label>Button Sreeen</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_selection</targetReference>
        </connector>
        <fields>
            <name>AccountRadio</name>
            <choiceReferences>AccountChoice</choiceReferences>
            <choiceReferences>ContactChoice</choiceReferences>
            <choiceReferences>AccountwithallContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContactsRelatedScreen</name>
        <label>ContactsRelatedScreen</label>
        <locationX>204</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConatctRelatedAccount</targetReference>
        </connector>
        <fields>
            <name>Conatcts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ConatctFromAccountCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-14c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-334d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-ccd1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-3aa3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-d796&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <elementReference>Get_K_Set_License.Contact_Limit__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Account_Screen</name>
        <label>Account Screen</label>
        <locationX>1084</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Loop_1</targetReference>
        </connector>
        <fields>
            <name>AllAccounts2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-90d3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Website&quot;,&quot;guid&quot;:&quot;column-1f5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Website&quot;,&quot;type&quot;:&quot;url&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_SuccessScreen</name>
        <label>Success Screen for related Account</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ScuuessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(56, 228, 22); font-size: 16px;&quot;&gt;{!ContactRelatedtoAccountCount} Contacts Added Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_SuccessScreen</name>
        <label>Success Screen for all Contacts</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_ScuuessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(56, 228, 22); font-size: 16px;&quot;&gt;{!AllContactrelatedtoAccount} Contacts Added Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CountError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 5, 5); font-size: 16px;&quot;&gt;You have exceeded the limit for the number of contacts. The maximum allowed is {!Get_K_Set_License.Contact_Limit__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 5, 5); font-size: 16px;&quot;&gt;Please reduce the number of contacts and try again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Multiple_Contacts</name>
        <label>Select Contacts to Sync</label>
        <locationX>556</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <fields>
            <name>Select_Multiple_Contacts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Multiple_Contacts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-e1f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-6495&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-cc57&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-6e83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MobilePhone&quot;,&quot;guid&quot;:&quot;column-1e45&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Mobile Phone&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Job_Title__c&quot;,&quot;guid&quot;:&quot;column-c141&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Job Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Contact</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectedContactsFromAccount</name>
        <label>SelectedContactsFromAccount</label>
        <locationX>1084</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Conut</targetReference>
        </connector>
        <fields>
            <name>ContactsDisplayFromAccount</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>K_Contact__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ContactCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;First_Name__c&quot;,&quot;guid&quot;:&quot;column-d9bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Name__c&quot;,&quot;guid&quot;:&quot;column-5e7a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Company_Name__c&quot;,&quot;guid&quot;:&quot;column-138e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Company Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Job_Title__c&quot;,&quot;guid&quot;:&quot;column-947b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Job Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-87f9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>314</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScuuessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(56, 228, 22);&quot;&gt;{!Selectedrowscount} Contacts Added Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AllContactrelatedtoAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ConatctFromAccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>K_Contact__c</objectType>
    </variables>
    <variables>
        <name>ContactRelatedtoAccountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>KContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>K_Contact__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selectedrowscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SyncContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Track_Request_Contact__c</objectType>
    </variables>
    <variables>
        <name>SyncRequestContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Track_Request_Contact__c</objectType>
    </variables>
    <variables>
        <name>TotalTrackRequestContact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
