force-app/main/default/flows/Update_KPC_Action_Needed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>accountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Action_Needed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Change_Status</name>
        <label>Check Change Status</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Joined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.New_Company__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_Joined</targetReference>
            </connector>
            <label>Joined</label>
        </rules>
        <rules>
            <name>Left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_Left</targetReference>
            </connector>
            <label>Left</label>
        </rules>
        <rules>
            <name>Promoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.New_Company__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.New_Designation__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Designation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_Promoted</targetReference>
            </connector>
            <label>Promoted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Action_Needed</name>
        <label>Check For Action Needed</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zero_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_KPC_as_Create</targetReference>
            </connector>
            <label>Zero Count</label>
        </rules>
        <rules>
            <name>One_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_KPC_as_Update</targetReference>
            </connector>
            <label>One Count</label>
        </rules>
        <rules>
            <name>More_Than_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.New_Company__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_KPC_as_Merge</targetReference>
            </connector>
            <label>More Than One</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update KPC Action Needed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update KPC Action Needed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_Company__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Website</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_Company_Website__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Status_Joined</name>
        <label>Change Status Joined</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Joined</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Status_Left</name>
        <label>Change Status Left</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Left</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Status_Promoted</name>
        <label>Change Status Promoted</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Promoted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Action__c</field>
            <value>
                <stringValue>Promote</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KPC_as_Create</name>
        <label>Update KPC as Create</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.K_Contact__r.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Action__c</field>
            <value>
                <stringValue>Create Lead</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KPC_as_Merge</name>
        <label>Update KPC as Merge</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.K_Contact__r.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Action__c</field>
            <value>
                <stringValue>Merge</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KPC_as_Update</name>
        <label>Update KPC as Update</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.K_Contact__r.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Action__c</field>
            <value>
                <stringValue>Create Contact</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Change_Status</targetReference>
        </connector>
        <object>K_Processed_Contact__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
